@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

/* BUTTON */
.start-btn {
  background-color: #f43f5e;
  color: white;
  padding: 10px 22px;
  border-radius: 999px;
  font-weight: 600;
  transition: 0.2s;
}

.start-btn:hover {
  background-color: #fb7185;
}